body{
  background-color: #47ADAE;
}
#wrapper{
  text-align: center;
}

.playground, .square{
  border: 1px solid #FFFFFF;
  display: flex;
}

.playground{
  width: 800px;
  height: 800px;
  margin: 50px auto;
  flex-wrap: wrap;
}

.square{
  justify-content: center;
  align-items: center;
}

#offCanvas {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding-top: 50px;
  transition: all 0.5s;
}

#startGame{
  background-color: #47ADAE;
  color: #FFFFFF;
}